.header__humbergerMenu {
	position: sticky;
	top: 0;
	z-index: 50;
	justify-content: space-between;
}
.header {
	background-color: #131921;
	display: flex;
	align-items: center;
	position: sticky;
	justify-content: space-between;
	top: 0;
	z-index: 100;
	width: 100%;
	border-bottom: 1px solid lightgray;
}

.header__logo {
	width: 110px;
	margin-left: 20px;
	margin-right: 90px;
	margin-top: 18px;
	object-fit: contain;
}

.header__search {
	display: flex;
	flex: 1;
}
.header__searchIcon {
	padding: 5px;
	height: 22px !important;
	background-color: #cd9042;
}
.header__searchInput {
	height: 12px;
	padding: 10px;
	border: none;
	width: 100%;
}
.header__nav {
	display: block;
	display: flex;
	justify-content: space-evenly;
	margin-left: 50px;
}
.header__link {
	color: white;
	text-decoration: none;
	padding: 15px 20px;
}
.header__option {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
}
.header__optionLineOne {
	font-size: 16px;
	font-size: 300;
}
.header__optionLineTwo {
	font-size: 18px;
	font-weight: 400;
}
.header__optionBasket {
	display: flex;
	align-items: center;
}
.header__optionBasket > .MuiSvgIcon-root {
	font-size: 27px;
}
.header__optionBasket:hover {
	color: rgb(4, 182, 4);
}
.header__basketCount {
	margin-left: 10px;
	margin-right: 10px;
}
.header__out {
	color: white;
	text-decoration: none;
	font-weight: 300;
	font-size: 20px;
}
.header__backIcon {
	color: white;
	margin: 0px 15px 0px 0px;
}
.header__backIcon:hover {
	background-color: red;
	border-radius: 20px;
}
/* menu */
.header__humberlink {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.header__humber {
	color: white;
	height: 15px;
	padding-right: 10px;
}
.header__humber > .MuiSvgIcon-root {
	display: none;
}
.header__humberClose > .MuiSvgIcon-root {
	font-size: 22px;
	cursor: pointer;
}
.header__menu {
	background-color: #131921;
	padding: 20px 10px;
	height: 220px;
}

.header__menu > .header__link > .header__option {
	border-bottom: 1px solid gray;
	margin-bottom: 5px;
	padding: 10px 20px 20px 20px;
}
h4 {
	font-size: 20px;
	font-weight: 400;
}
@media only screen and (max-width: 1000px) {
	.header__search {
		display: none;
	}
}
@media only screen and (max-width: 800px) {
	.header__search {
		display: none;
	}
	.header__nav {
		display: none;
	}
	.header__humber {
		display: block;
		color: white;
		align-items: center;
		border-radius: 5px;
		height: 17px;
		cursor: pointer;
		margin: 0 10px 0 auto;
	}
	.header__humber > .MuiSvgIcon-root {
		display: block;
		cursor: pointer;
	}
	.header__logo {
		width: 90px;
	}
	.header__link {
		padding: 0px 5px;
	}
	.header__optionBasket > .MuiSvgIcon-root {
		font-size: 20px;
	}
	.header__optionLineOne {
		font-size: 12px;
	}
	.header__optionLineTwo {
		font-size: 13px;
		font-weight: 500;
	}
	.header__optionLineTwo {
		font-size: 17px;
		font-weight: 300;
	}
	h4 {
		font-size: 16px;
		font-weight: 350;
	}
	.header__out {
		font-size: 17px;
	}
}
@media only screen and (max-width: 500px) {
	.header__logo {
		width: 70px;
	}
	.header__menu {
		height: 150px;
	}
	.header__optionLineTwo {
		font-size: 15px;
		font-weight: 300;
	}
	h4 {
		font-size: 12px;
		font-weight: 300;
	}
}
