.header__humbergerMenu {
	position: sticky;
	top: 0;
	z-index: 50;
	justify-content: space-between;
}
.header {
	background-color: #131921;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 100;
	width: 100%;
	border-bottom: 1px solid lightgray;
}

.header__logo {
	width: 100px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 18px;
	object-fit: contain;
}

.header__search {
	display: flex;
	flex: 1;
}
.header__searchIcon {
	padding: 5px;
	height: 22px !important;
	background-color: #cd9042;
}
.header__searchInput {
	height: 12px;
	padding: 10px;
	border: none;
	width: 100%;
}
.header__nav {
	display: block;
	display: flex;
	justify-content: space-evenly;
}
.header__link {
	color: white;
	text-decoration: none;
}
.header__option {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
}
.header__optionLineOne {
	font-size: 10px;
}
.header__optionLineTwo {
	font-size: 13px;
	font-weight: 500;
}
.header__optionBasket {
	display: flex;
	align-items: center;
}
.header__basketCount {
	margin-left: 10px;
	margin-right: 10px;
}
.header__out {
	color: white;
	text-decoration: none;
	font-weight: 500;
}
.header__backIcon {
	color: white;
	margin: 0px 15px 0px 0px;
}
/* menu */
.header__humberlink {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.header__humber {
	color: white;
	height: 15px;
	padding-right: 10px;
}
.header__humber > .MuiSvgIcon-root {
	display: none;
}
.header__humberClose > .MuiSvgIcon-root {
	font-size: 22px;
	cursor: pointer;
}
.header__menu {
	background-color: #131921;
	padding: 20px 10px;
	height: 130px;
}

.header__menu > .header__link > .header__option {
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
	padding: 10px;
}

@media only screen and (max-width: 700px) {
	.header__search {
		display: none;
	}
	.header__nav {
		display: none;
	}
	.header__humber {
		display: block;
		color: white;
		align-items: center;
		border-radius: 5px;
		height: 17px;
		cursor: pointer;
		margin: 0 10px 0 auto;
	}
	.header__humber > .MuiSvgIcon-root {
		display: block;
		cursor: pointer;
	}
}
