.history > h1 {
	text-align: center;
	padding: 40px;
	font-size: 40px;
	font-weight: 400;
}
.history__icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 350px;
	font-size: 20px;
}
.history__icon > .MuiSvgIcon-root {
	font-size: 30px;
}
.history__loader {
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 450px) {
	.history__icon {
		padding-top: 200px;
		font-size: 13px;
	}
	.history > h1 {
		font-size: 30px;
	}
}
