.home {
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
}
.home__row {
	display: grid;
	grid-template-columns: auto auto;
	grid-auto-rows: auto auto;
	grid-column-gap: 80px;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	width: 69vw;
}
.home__image {
	width: 100%;
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	z-index: -1;
	margin-bottom: -150px;
}
.home__loader {
	display: flex;
	justify-content: center;
}
@media only screen and (max-width: 850px) {
	.home__row {
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 1;
	}
	.home__image {
		width: 100%;
		mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
		z-index: -1;
		margin-bottom: -80px;
	}
}
