.scroll__toTop {
	position: fixed;
	bottom: 20px;
	left: 48%;
	width: 50px;
	height: 50px;
	z-index: 1;
}
.scroll__toTop > .MuiSvgIcon-root {
	margin-top: 10px;
	font-size: 60px;
	animation: scrollTop 0.5s alternate ease infinite;
	cursor: pointer;
	color: #131921;
	border-radius: 100%;
}

@keyframes scrollTop {
	from {
		transform: translateY(-2px);
	}
	to {
		transform: translateY(2px);
	}
}
@media only screen and (max-width: 700px) {
	.scroll__toTop > .MuiSvgIcon-root {
		color: #131921;
		font-size: 35px;
	}
	.scroll__toTop {
		bottom: 10px;
		left: 45%;
	}
}
